In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import pickle
import numpy as np
import pandas as pd

In [4]:
results = pickle.load(open('../results_ensured_ablation.pkl', 'rb'))

In [5]:
def make_df(ablation, results):
    df = pd.DataFrame(columns=ablation.keys())
    for cs in results['calibration_sizes']:
        for ci in ablation['total'][cs]:
            row = [np.mean(ablation[col][cs][ci]) for col in ablation]
            row_index = f"{cs}_{ci}"  # Create a custom index/name for the row
            df.loc[row_index] = row  # Append the row with the custom index

    return df

In [16]:
def time_df(times, results):
    time_df = pd.DataFrame(columns=['time'])
    for cs in results['calibration_sizes']:
        for ci in times[cs]:
            time = np.mean(times[cs][ci])
            row_index = f"{cs}_{ci}"  # Create a custom index/name for the row
            time_df.loc[row_index] = time  # Append the row with the custom index

    return time_df

In [18]:
for ds in ['wine','housing']:
    ablation = make_df(results[ds]['ablation'], results)
    abl_time = time_df(results[ds]['timer'], results)
    ablation['time'] = abl_time['time']
    print(ds)
    display(ablation)
    # display(abl_time)

wine

,total,ensured,counterfactual,counterpotential,semifactual,semipotential,superfactual,superpotential,time
500_explore,15.23,6.39,1.98,0.12,9.47,0.14,3.52,0.0,0.125763
500_conjugate,39.00,17.34,8.94,0.62,21.40,0.60,7.05,0.0,0.844957
300_explore,15.23,6.39,1.98,0.12,9.47,0.14,3.52,0.0,0.119589
300_conjugate,39.00,17.34,8.94,0.62,21.40,0.60,7.05,0.0,0.839382
100_explore,13.03,4.67,1.17,0.35,8.40,0.21,2.90,0.0,0.113177
100_conjugate,33.84,10.53,6.05,1.18,18.72,0.99,6.32,0.0,0.755747

housing

,total,ensured,counterfactual,counterpotential,semifactual,semipotential,superfactual,superpotential,time
500_explore,28.38,16.68,1.70,0.33,10.95,0.44,14.93,0.03,0.303362
500_conjugate,73.80,36.36,11.55,1.12,31.54,1.09,28.31,0.03,4.133516
300_explore,30.40,16.84,1.69,0.06,12.78,0.07,15.80,0.00,0.306671
300_conjugate,78.53,36.71,10.77,0.79,33.18,0.92,32.80,0.00,4.103487
100_explore,26.49,12.41,1.03,1.97,8.80,1.88,12.33,0.48,0.306006
100_conjugate,71.18,33.89,5.27,3.70,23.24,4.99,32.45,1.12,1.821552